* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    color: #fff;
    font-size: 62.5%;
    font-weight: normal;
    background: linear-gradient(to right top, #060606, #050505, #030303, #020202, #000);
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.header {
    padding: 4rem 11rem 4rem 8rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

.header__wrap  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}


.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}


.header__nav {

}

.header__link {
    font-size: 1.6rem;
    line-height: 150%;
}

.header__link:not(:last-child) {
    margin-right: 7.1rem;

}

.btn {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #fff;

}

.header__btn {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #C89AFC 10%, #7C6AFA 90%);
    font-size: 1.6rem ;
    line-height: 150%;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 10;
    padding-bottom: 22.8rem;
}

.main-display__title {
    font-size: 6.4rem;
    max-width: 76rem;
    margin-bottom: 5rem;
    font-weight: 700;
    line-height: 140%;
}

.main-display__timer  {
    display: flex;
    gap: 3rem;
    margin-bottom: 7.6rem;
}

.timer {

}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer__count {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 140%;
}

.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
    line-height: 140%;
}

.main-display__btn {
    background: linear-gradient(94.78deg, #DF5950 11.2%, #451046 90%);
    font-size: 1.6rem;
    line-height: 140%;
}


.main-display__bg {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}


.work {
    padding-top: 20rem;
    padding-bottom: 24.3rem;
}


.work__wrapper {
    display: flex;
    /* align-items: center; */
}

.work__img {
    width: 52.6rem;
    height: 49.9rem;
    margin-right: 13.9rem;
}

.work__text {
    max-width: 63.3rem;
    padding-top: 6.9rem;
}

.work__title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
    margin-bottom: 4.5rem;
}

.work__decription {
    font-size: 1.6rem;
    line-height: 160%;
}


.process {
    padding-bottom: 20rem;
    position: relative;
}

.process__img {
    width: 9rem;
    height: 4.5rem;
    margin-right: 2rem;
}

.process__title {
    margin-bottom: 4.9rem;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 140%;
}

.process__header {
    display: flex;
}

.process__description {
    margin-bottom: 8rem;
    font-size: 1.6rem;
    line-height: 160%;
    opacity: 0.5;
    max-width: 41.1rem;
}

.process__columns {
    display: flex;

}

.process__columns::after {
    content: '';
    display: block;
    width: 130rem;
    height: 0.2rem;
    position: absolute;
    top: 31rem;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(94.26deg, #C89AFC 9.5%, #7C6AFA 90.2%);
}


.process__item {
    max-width: 30.6rem;
}

.process__item-title {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 140%;
    margin-bottom: 6.5rem;
}

.process__text {
    font-size: 1.4rem;
    line-height: 160%;
    opacity: .5;
}

