* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    color: #fff;
    font-size: 62.5%;
    font-weight: normal;
    background: linear-gradient(to right top, #060606, #050505, #030303, #020202, #000);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

a {
    text-decoration: none;
    color: inherit
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.container {
    width: 130rem;
    margin: 0 auto;
}

.header {
    padding: 4rem 11rem 4rem 8rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 10;
}

.header__wrap  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}


.header__logo {
    display: block;
    width: 4rem;
    height: 4rem;
}




.header__nav {

}

.header__link {
    font-size: 1.6rem;
}

.header__link:not(:last-child) {
    margin-right: 7.1rem;

}

.btn {
    border-radius: 5rem;
    padding: 1rem 3rem;
    color: #fff;

}

.header__btn {
    margin-left: 55.3rem;
    background: linear-gradient(94.26deg, #C89AFC 10%, #7C6AFA 90%);
    font-size: 1.6rem ;
}

.main-display {
    padding-top: 27rem;
}

.main-display .container {
    position: relative;
    z-index: 10;
}

.main-display__title {
    font-size: 6.4rem;
    max-width: 76rem;
    margin-bottom: 5rem;
}

.main-display__timer  {
    display: flex;
    gap: 3rem;
    margin-bottom: 7.6rem;
}

.timer {

}

.timer__item {
    width: 10.2rem;
    height: 11.2rem;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer__count {
    font-size: 3.6rem;
}

.timer__text {
    font-size: 1.6rem;
    opacity: 0.4;
}

.main-display__btn {
    background: linear-gradient(94.78deg, #DF5950 11.2%, #451046 90%);
    font-size: 1.6rem;
}


.main-display__bg {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
